:root {
  --global-bg-color: #fff;
  --global-code-bg-color: rgba(0, 147, 140, 0.05);
  --global-text-color: #000;
  --global-text-color-light: #828282;
  --global-theme-color: #00938c;
  --global-hover-color: #00938c;
  --global-footer-bg-color: #1c1c1d;
  --global-footer-text-color: #e8e8e8;
  --global-footer-link-color: #fff;
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #fff;
}

strong,
.content strong {
  color: var(--global-theme-color) !important;
  font-weight: 300;
}

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body.fixed-top-nav {
  padding-top: 56px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  scroll-margin-top: 66px;
}

.container {
  max-width: 1060px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
div,
li,
span,
strong {
  color: var(--global-text-color);
}

a {
  color: var(--global-theme-color);
}

a:hover {
  color: var(--global-theme-color);
  text-decoration: underline;
}

figure,
img {
  max-width: 90vw;
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}

blockquote p {
  margin-bottom: 0;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.95;
}

.navbar.navbar-light a:hover {
  text-decoration: none;
}

.navbar.navbar-light .navbar-brand {
  color: var(--global-text-color);
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: var(--global-text-color);
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: var(--global-hover-color);
}

.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: inherit;
  font-weight: bolder;
  color: var(--global-theme-color);
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: var(--global-text-color);
  border-radius: 1px;
  margin-bottom: 4px;
  transition: all 0.2s;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.post .post-meta {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  margin-bottom: 0;
}

.post-header {
  margin-bottom: 1rem;
}

.post-title {
  font-family: "Roboto Slab", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.desc {
  color: var(--global-text-color-light);
  margin-bottom: 0;
}

.profile {
  width: 100%;
}

.profile.float-right {
  margin-left: 1rem;
}

.profile img {
  width: 100%;
}

.profile .address {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: monospace;
}

.profile .address p {
  display: inline-block;
  margin: 0;
}

.clearfix h1 {
  font-family: "Roboto Slab", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1.65rem;
  margin-bottom: 0.5rem;
}

.clearfix p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.clearfix ul {
  margin-bottom: 1rem;
}

.clearfix ul ul {
  margin-top: 0.25rem;
}

.work-item {
  margin-bottom: 1rem;
}

.work-item-title {
  font-weight: bolder;
}

.work-item-meta {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.work-item-authors {
  margin-bottom: 0.25rem;
}

.social {
  text-align: center;
}

.social .contact-icons {
  font-size: 4rem;
}

.social .contact-icons a {
  display: inline-block;
  margin: 0 0.15rem;
}

.social .contact-icons a i::before {
  color: var(--global-text-color);
  transition-property: all 0.2s ease-in-out;
}

.social .contact-icons a:hover i::before {
  color: var(--global-theme-color);
}

footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
}

footer.fixed-bottom .container {
  color: var(--global-footer-text-color);
  padding-top: 9px;
  padding-bottom: 8px;
}

footer.fixed-bottom span {
  color: var(--global-footer-text-color);
}

footer.fixed-bottom a {
  color: var(--global-footer-link-color);
}

footer.fixed-bottom a:hover {
  color: var(--global-theme-color);
  text-decoration: none;
}

@media (min-width: 576px) {
  .profile {
    width: 30%;
  }

  .profile .address p {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .navbar-brand {
    max-width: calc(100vw - 92px);
    white-space: normal;
  }

  .post-title {
    font-size: 2rem;
  }

  .profile.float-right {
    float: none !important;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .social .contact-icons {
    font-size: 3rem;
  }
}
